.App {
  text-align: center;
}
h1 {
  font-size: 100px;
}
.minus {
  margin: 10px;
  padding: 20px 50px 20px 50px;
  color: white;
  border-radius: 20px;
  background-color: red;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.plus {
  margin: 10px;
  padding: 20px 50px 20px 50px;
  color: white;
  border-radius: 20px;
  background-color: green;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
